@font-face {
  font-family: 'BrownProTT';
  src: url('https://dyajmw2sca9cs.cloudfront.net/fonts/lineto-brown-pro-regular.eot?') format('embedded-opentype'), url('https://dyajmw2sca9cs.cloudfront.net/fonts/BrownProTT-Regular.ttf') format('truetype');;
}

@font-face {
  font-family: 'BrownProTT';
  src: url('https://dyajmw2sca9cs.cloudfront.net/fonts/lineto-brown-pro-reclinlight.eot?') format('embedded-opentype'), url('https://dyajmw2sca9cs.cloudfront.net/fonts/BrownProTT-ReclinLight.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'BrownProTT';
  src: url('https://dyajmw2sca9cs.cloudfront.net/fonts/lineto-brown-pro-light.eot?') format('embedded-opentype'), url('https://dyajmw2sca9cs.cloudfront.net/fonts/BrownProTT-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'BrownProTT';
  src: url('https://dyajmw2sca9cs.cloudfront.net/fonts/lineto-brown-pro-bold.eot?') format('embedded-opentype'), url('https://dyajmw2sca9cs.cloudfront.net/fonts/BrownProTT-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'BrownProTT';
  color: #131c4e;
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;
}

body {
  padding-top: 80px;
  background: white;
}

a {
  color: #fb766a;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  pointer-events: none;
}

.emoji {
  font-family:"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}

a:hover {
  color: #131c4e;
}

p, h3 {
  line-height: 1.7em;
}

.js .load-transition {
  opacity: 0;
  -webkit-transform: translateY( 8px );
          transform: translateY( 8px );
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.js body.active .load-transition {
  opacity: 1;
  -webkit-transform: translateY( 0px );
          transform: translateY( 0px );
}

header {
  background: rgba( 255, 255, 255, 0.9 );
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding: 0;
  z-index: 2;
  box-shadow: 0 0 8px rgba( 60,77 ,119, 0.25 );
  overflow: hidden;
}

header nav {
  max-width: 1280px;
  margin: 0 auto;
  height: 80px;
  padding: 0 32px;
}

header nav .logo {
  width: 161px;
  height: 53px;
  float: left;
  background-image: url('https://dyajmw2sca9cs.cloudfront.net/img/spritesheet@2x.png');
  background-size: 841px 237px;
  background-position: -2px -167px;
  margin-top: 14px;
}

header nav .github {
  color: #131c4e;
  float: right;
  font-size: 24px;
  padding-top: 16px;
}

main {
  padding: 0;
}

.hero {
  height: 420px;
  background-image: linear-gradient( to bottom right, rgb( 28, 32, 75 ), rgb( 321, 115, 109 ) );
  position: relative;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.075;
  -webkit-transform: scale( 1.02 );
          transform: scale( 1.02 );
  -webkit-transition: all 0.85s ease-out;
          transition: all 0.85s ease-out;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

body.active .canvas {
  -webkit-transform: scale( 1 );
          transform: scale( 1 );
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text--line {
  font-size: 96px;
}

svg {
  display: block;
  position: relative;
  height: 420px;
  width: 700px;
  margin: auto;
  -webkit-transform: translateY( 36px );
          transform: translateY( 36px );
}

.text-copy {
  fill: none;
  stroke: white;
  font-weight: bold;
  stroke-dasharray: 7% 28%;
  stroke-width: 2px;
  -webkit-animation: stroke-offset 6s ease-out;
          animation: stroke-offset 6s ease-out;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
  -webkit-transition: stroke 1.5s;
          transition: stroke 1.5s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.text-copy:nth-child(1) {
  stroke: #fb766a;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #bdc9d5;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #737e97;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #3c4d77;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #131c4e;
  stroke-dashoffset: 35%;
}

body.active .text-copy:nth-child( 1 ),
body.active .text-copy:nth-child( 2 ),
body.active .text-copy:nth-child( 3 ),
body.active .text-copy:nth-child( 4 ),
body.active .text-copy:nth-child( 5 ) {
  stroke: white;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

.text-panel {
  background: white;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 8px rgba( 60,77 ,119, 0.25 );
  position: relative;
  z-index: 1;
  min-height: 290px;
}

.text-panel > div {
  max-width: 784px;
  margin: 0 auto;
  padding: 64px 32px;
  text-align: center;
  overflow: hidden;
}

.text-panel h2 {
  font-size: 48px;
  margin: 0 0 32px;
}

.text-panel h3 {
  font-weight: 300;
}

.body-content {
  background: #f2f2f2;
  padding: 0 0 64px;
}

.body-content > div {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.body-h2 {
  font-size: 48px;
  text-align: center;
  padding: 64px 0 48px;
  margin: 0;
  clear: both;
}

.project {
  width: 50%;
  padding: 32px;
  float: left;
  margin: 0;
}

.project > div {
  background: white;
  padding: 32px;
  position: relative;
  min-height: 260px;
  box-shadow: 0 0 8px rgba( 60,77 ,119, 0.25 );
}

.project h2 {
  margin: 0;
}

.project .lang {
  background: #131c4e;
  color: white;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 300;
}

.copyright {
  font-size: 16px;
  line-height: 32px;
  margin-top: 122px;
}

@media only screen and ( max-width: 780px )  {
  .hero {
    height: 360px;
  }
  svg {
    width: 680px;
    height: 360px;
    -webkit-transform: translateY( 32px );
          transform: translateY( 32px );
  }
  .text--line {
    font-size: 84px;
  }
  .project {
    float: none;
    width: 100%;
    padding: 16px 32px;
  }
  .project > div {
    min-height: auto;
  }
}

@media only screen and ( max-width: 680px )  {
  .hero {
    height: 300px;
  }
  svg {
    width: 580px;
    height: 300px;
    -webkit-transform: translateY( 22px );
          transform: translateY( 22px );
  }
  .text--line {
    font-size: 64px;
  }
  .text-copy {
    stroke-width: 1px;
  }
  .text-panel h2,
  .body-h2 {
    font-size: 36px;
  }
}

@media only screen and ( max-width: 580px )  {
  header nav {
    padding: 0 16px;
  }
  .hero {
    height: 180px;
  }
  svg {
    width: 320px;
    height: 180px;
    -webkit-transform: translateY( 16px );
          transform: translateY( 16px );
  }
  .text--line {
    font-size: 46px;
  }
}


/* no-js fallbacks */
.no-js .open-source-svg {
  display: none;
}

.no-js .sr-only.heading-fallback {
  clip: inherit;
  color: #fff;
  font-size: 46px;
  height: auto;
  left: 0;
  opacity: 1;
  overflow: visible;
  right: 0;
  text-align: center;
  top: 40%;
  width: auto;
}

@media screen and ( min-width: 581px )  {
  .no-js .sr-only.heading-fallback {
    font-size: 64px;
    top: 46%;
  }
}

@media screen and ( min-width: 780px ) {
  .no-js .sr-only.heading-fallback {
    font-size: 84px;
    top: 48%;
  }
}
